l{% load static %}
<!--== Start Aside Cart ==-->
<aside class="aside-cart-wrapper offcanvas offcanvas-end" tabindex="-1" id="AsideOffcanvasCart"
       aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h1 class="d-none" id="offcanvasRightLabel">سبد خرید</h1>
        <button class="btn-aside-cart-close" data-bs-dismiss="offcanvas" aria-label="Close">سبد خرید <i
                class="fa fa-chevron-left"></i></button>
    </div>
    <div class="offcanvas-body">
        <ul class="aside-cart-product-list">
            {% for item in cart %}
                <li class="aside-product-list-item">
                    <a href="#/" class="remove">×</a>
                    <a href="#">
                        <img src="{{ item.product.images.first.image.url }}" width="68" height="84" alt="Image">
                        <span class="product-title">{{ item.product.title }}</span>
                    </a>
                    <span class="product-price">{{ item.quantity }} × {{ item.price }} تومان</span>
                </li>
            {% endfor %}
        </ul>
        <p class="cart-total"><span>جمع کل:</span><span class="amount">{{ cart.get_total_cost }} تومان</span></p>
        {% if not cart|length == 0 %}
            <a class="btn-total" href="#">مشاهده سبد خرید</a>
            <a class="btn-total" href="#">پرداخت</a>
        {% endif %} 
    </div>
</aside>
<!--== End Aside Cart ==-->