<!--== Start Aside Menu ==-->
<aside class="off-canvas-wrapper offcanvas offcanvas-start" tabindex="-1" id="AsideOffcanvasMenu"
       aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h1 class="d-none" id="offcanvasExampleLabel">منوی کنار</h1>
        <button class="btn-menu-close" data-bs-dismiss="offcanvas" aria-label="Close">منو <i
                class="fa fa-chevron-left"></i></button>
    </div>
    <div class="offcanvas-body">
        <div id="offcanvasNav" class="offcanvas-menu-nav">
            <ul>
                <li class="offcanvas-nav-parent"><a class="offcanvas-nav-item" href="#">صفحه اصلی</a>
                    <ul>
                        <li><a href="#">صفحه اصلی یک</a></li>
                        <li><a href="#">صفحه اصلی دو</a></li>
                    </ul>
                </li>
                <li class="offcanvas-nav-parent"><a class="offcanvas-nav-item" href="#">در باره</a></li>
                <li class="offcanvas-nav-parent"><a class="offcanvas-nav-item" href="#">فروشگاه</a>
                    <ul>
                        <li><a href="#" class="offcanvas-nav-item">چیدمان فروشگاه</a>
                            <ul>
                                <li><a href="#">فروشگاه 3 ستون</a></li>
                                <li><a href="#">فروشگاه 4 ستون</a></li>
                                <li><a href="#">فروشگاه نوار کناری سمت راست</a></li>
                                <li><a href="#">فروشگاه نوار کناری سمت چپ</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="offcanvas-nav-item">جزئیات محصول</a>
                            <ul>
                                <li><a href="#" class="offcanvas-nav-item">جزئیات محصول معمولی</a></li>
                                <li><a href="#">جزئیات محصول</a></li>
                                <li><a href="#">جزئیات محصول گروهی</a></li>
                                <li><a href="#">محصول وابسته</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="offcanvas-nav-item">صفحات دیگر</a>
                            <ul>
                                <li><a href="#">سبد خرید</a></li>
                                <li><a href="#">پرداخت</a></li>
                                <li><a href="#">لیست علاقه مندیها</a></li>
                                <li><a href="#">مقایسه کنید</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="offcanvas-nav-parent"><a class="offcanvas-nav-item" href="#">وبلاگ</a>
                    <ul>
                        <li><a class="offcanvas-nav-item" href="#">چیدمان وبلاگ</a>
                            <ul>
                                <li><a href="#">شبکه وبلاگ</a></li>
                                <li><a href="#">منو سایدبار سمت راست وبلاگ</a></li>
                                <li><a href="#">منو سایدبار سمت چپ وبلاگ</a></li>
                            </ul>
                        </li>
                        <li><a href="#">جزئیات وبلاگ</a></li>
                    </ul>
                </li>
                <li class="offcanvas-nav-parent"><a class="offcanvas-nav-item" href="#">صفحه</a>
                    <ul>
                        <li><a href="#">حساب کاربری</a></li>
                        <li><a href="#">سوالات متداول</a></li>
                        <li><a href="#">صفحه یافت نشد</a></li>
                    </ul>
                </li>
                <li class="offcanvas-nav-parent"><a class="offcanvas-nav-item" href="#">ارتباط با ما</a></li>
            </ul>
        </div>

    </div>
</aside>
<!--== End Aside Menu ==-->