{% load static %}
<!--== Start Product Quick View Modal ==-->
<aside class="product-cart-view-modal modal fade" id="action-QuickViewModal-{{ obj.slug }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="product-quick-view-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <span class="fa fa-close"></span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <!--== Start Product Thumbnail Area ==-->
                                <div class="product-single-thumb">
                                    <img src="{{ obj.images.first.image.url }}" width="544" height="560"
                                         alt="Image-HasTech">
                                </div>
                                <!--== End Product Thumbnail Area ==-->
                            </div>
                            <div class="col-lg-6">
                                <!--== Start Product Info Area ==-->
                                <div class="product-details-content">
                                    <h5 class="product-details-collection">{{ obj.title }}</h5>
{#                                    <div class="product-details-review mb-5">#}
{#                                        <div class="product-review-icon">#}
{#                                            <i class="fa fa-star-o"></i>#}
{#                                            <i class="fa fa-star-o"></i>#}
{#                                            <i class="fa fa-star-o"></i>#}
{#                                            <i class="fa fa-star-o"></i>#}
{#                                            <i class="fa fa-star-half-o"></i>#}
{#                                        </div>#}
{#                                        <button type="button" class="product-review-show">150 بررسی</button>#}
{#                                    </div>#}
                                    <p class="mb-6">{{ obj.short_description }}</p>
                                    <div class="product-details-pro-qty">
                                        <div class="pro-qty">
                                            <input type="text" title="Quantity" id="quick-quantity-{{ obj.slug }}" value="1" min="1" max="{{ obj.inventory }}">
                                        </div>
                                    </div>
                                    <div class="product-details-action">
                                        <h4 class="price">{{ obj.get_price }} تومان</h4>
                                        <div class="product-details-cart-wishlist">
                                            <button type="button" class="btn custom-add" data-slug="{{ obj.slug }}" data-bs-toggle="modal"
                                                    data-bs-target="#action-CartAddModal-{{ obj.slug }}">به سبد خرید اضافه کنید
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!--== End Product Info Area ==-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
<!--== End Product Quick View Modal ==-->