{% load static %}
<!--== Start Product Quick View Modal ==-->
<aside class="product-cart-view-modal modal fade" id="action-QuickViewModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="product-quick-view-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <span class="fa fa-close"></span>
                    </button>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <!--== Start Product Thumbnail Area ==-->
                                <div class="product-single-thumb">
                                    <img src="{% static 'images/shop/quick-view1.webp' %}" width="544" height="560"
                                         alt="Image-HasTech">
                                </div>
                                <!--== End Product Thumbnail Area ==-->
                            </div>
                            <div class="col-lg-6">
                                <!--== Start Product Info Area ==-->
                                <div class="product-details-content">
                                    <h5 class="product-details-collection">مجموعه ممتاز</h5>
                                    <h3 class="product-details-title">پاک کن آفلاین</h3>
                                    <div class="product-details-review mb-5">
                                        <div class="product-review-icon">
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-half-o"></i>
                                        </div>
                                        <button type="button" class="product-review-show">150 بررسی</button>
                                    </div>
                                    <p class="mb-6">برای خانم‌ها و آقایانی که قصد خرید محصولاتی عالی و اصلی را دارند و
                                        می‌خواهند درباره چیزی که می‌خرند اطلاعات کامل و واقعی داشته باشند. این همیشه
                                        سرلوحه شعارهای مدیاژ بوده و ما در این مجموعه تمامی تلاشمان این است که
                                        مشتری‌هایمان بتوانند با اطلاعات کامل از طیف گسترده‌ای از محصولات بازار، توانایی
                                        خرید داشته باشند و در کنار این‌ها، همیشه از اصل بودن و کیفیت بالای خرید خود
                                        اطمینان داشته باشند.</p>
                                    <div class="product-details-pro-qty">
                                        <div class="pro-qty">
                                            <input type="text" title="Quantity" value="01">
                                        </div>
                                    </div>
                                    <div class="product-details-action">
                                        <h4 class="price">254.00 تومان</h4>
                                        <div class="product-details-cart-wishlist">
                                            <button type="button" class="btn" data-bs-toggle="modal"
                                                    data-bs-target="#action-CartAddModal">به سبد خرید اضافه کنید
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!--== End Product Info Area ==-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
<!--== End Product Quick View Modal ==-->

<!--== Start Product Quick Wishlist Modal ==-->
<aside class="product-action-modal modal fade" id="action-WishlistModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="product-action-view-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <i class="fa fa-times"></i>
                    </button>
                    <div class="modal-action-messages">
                        <i class="fa fa-check-square-o"></i> با موفقیت به لیست علاقه مندی ها اضافه شد!
                    </div>
                    <div class="modal-action-product">
                        <div class="thumb">
                            <img src="{% static 'images/shop/modal1.webp' %}" alt="Organic Food Juice" width="466"
                                 height="320">
                        </div>
                        <h4 class="product-name"><a href="#">محتوای قابل خواندن </a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
<!--== End Product Quick Wishlist Modal ==-->

<!--== Start Product Quick Add Cart Modal ==-->
<aside class="product-action-modal modal fade" id="action-CartAddModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="product-action-view-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <i class="fa fa-times"></i>
                    </button>
                    <div class="modal-action-messages">
                        <i class="fa fa-check-square-o"></i>با موفقیت به لیست علاقه مندی ها اضافه شد!
                    </div>
                    <div class="modal-action-product">
                        <div class="thumb">
                            <img src="{% static 'images/shop/modal1.webp' %}" alt="Organic Food Juice" width="466"
                                 height="320">
                        </div>
                        <h4 class="product-name"><a href="#">محتوای قابل خواندن</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
<!--== End Product Quick Add Cart Modal ==-->